.body {
    margin: 10%;
}

main {
    width: 80%;
    margin: auto;
}

.jeu {
    background-color: rgb(251, 227, 227);
    margin-top: 5%;
}

#game_grid {
    width: 100%;
}

#game_grid td {
    text-align: center;
}

.obstacle_img {
    max-width: auto;
    height: 5em;
}

#skier {
    max-width: 4em;
    height: auto;
}

.move_buttons {
    display: none;
}

@media screen and (min-width = 1200px){
    .move_buttons {
        display: inline;
        width: fit-content;
    }
}

.move_buttons img {
    height: 4em;
    width: 4em;
    transition: transform .1s;
}

.move_buttons img:hover {
    transform: scale(1.1);
}